@page "/LeagueSummary/{LeagueId}"
@inject ITT365Reader _tt365
@attribute [StreamRendering]

<PageTitle>@LeagueName</PageTitle>
<h1>@LeagueName</h1>

@if (League is not null && League.CurrentSeason.DivisionCount > 0) {
	<div>
		@foreach (Division division in League.CurrentSeason.Divisions) {
			<DivisionSummary Division="@division" LeagueId="@League.Id" SeasonId="@League.CurrentSeason.Id" />
		}
	</div>
	<br />
	<dl>
		<dt>Name</dt>
		<dd>@League.Name</dd>
		<dt>Description</dt>
		<dd>@League.Description</dd>
		<dt>URL</dt>
		<dd><a href="@League.URL" target="_blank">@League.URL</a></dd>
		<dt>Theme</dt>
		<dd>@League.Theme</dd>
		<dt>Current Season</dt>
		<dd>
			@if (seasons.Any()) {
				<select @bind="currentSeason">
					@foreach (string season in seasons) {
						<option value="@season">@season</option>
					}
				</select>
			} else {
				<text>No seasons defined yet</text>
			}

		</dd>
		<dt>Previous Seasons</dt>
		<dd>@string.Join(", ", League.Seasons.OrderByDescending(s => s.Id).Select(s => s.Name))</dd>
	</dl>
}


