@page "/PlayerSummary/{LeagueId}/{PlayerName}/{PlayerId:int}"
@inject ITT365Reader _tt365
@attribute [StreamRendering]

<PageTitle>@PlayerName.Replace("_", " ") - @LeagueId</PageTitle>

@if (playerResults is null) {
	<h1>Loading ... @PlayerName ...</h1>
} else if (playerResults.Count == 0) {
	<h1>No results found for @PlayerName</h1>
} else {
	<h1>@league?.Name @league?.GetCurrentSeason().Name</h1>
	<h1>Player Stats for @PlayerName</h1>
	<div id="results">
		@foreach (string teamName in playerTeams) {
			List<PlayerResult> results = [.. playerResults
				.Where(p => p.PlayerTeamName == teamName)
				.OrderByDescending(p => p.Date)
				.ThenByDescending(p => p.OriginalSortOrder)
				];
			<h3>@teamName</h3>
			<table class="table table-bordered table-sm">
				<thead>
					<tr>
						<th>Opponent</th>
						<th>Div</th>
						<th>Team</th>
						<th>Date</th>
						<th>Games</th>
						<th>Score</th>
						<th>Ranking</th>
					</tr>
				</thead>
				<tbody>
					@foreach (PlayerResult result in results) {
						<tr data-result='@result.Result.ToLower()'>
							<td><a href="PlayerSummary/@LeagueId/@result.Opponent.Name.Replace(" ", "_")/@result.Opponent.Id">@result.Opponent.Name</a></td>
							<td>@result.Division.Replace("Division_", "")</td>
							<td>@result.OpponentTeam</td>
							<td>@result.Date.ToString("dd MMM yyyy")</td>
							<td><a href="@result.MatchCardURL" target="_blank" rel="noopener">@result.GameScore</a></td>
							<td>@result.Scores.Replace(",",", ")</td>
							<td>@result.FormattedRankingDiff</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>
}


