@page "/Recent/{LeagueId}/{NoOfDays:int?}"
@inject ITT365Reader _tt365
@inject TimeProvider timeProvider
@attribute [StreamRendering]

<PageTitle>Last @NoOfDays Days - @LeagueId</PageTitle>

<h1>Recent Results for @league?.Name @league?.GetCurrentSeason().Name</h1>

@if (fixtures is null) {
	<h2>Loading ... Results for the last @NoOfDays days ...</h2>
} else if (fixtures.Count == 0) {
	<p>No fixtures in the last @NoOfDays days.</p>
} else {
	<div id="fixtures">
		@foreach (Fixture fixture in fixtures) {
			FixtureResult? fr;
			fixtureResults.TryGetValue((fixture as CompletedFixture)?.Id ?? 0, out fr);
			string? fixtureStatus = null;
			if (fixture is PostponedFixture) {
				fixtureStatus = "postponed";
			}
			<details class="card" data-result='@(fixtureStatus)'>
				<summary class="row">
					<div class="col-12 col-sm-3 col-md-3 col-lg-2">
						<time datetime="@fixture.Date.ToString("yyyy-MM-dd")">@fixture.Date.ToString("ddd dd MMM")</time>
					</div>
					<div class="col-12 col-sm-9 col-md-9 col-lg-10">
						@if (fixture is PostponedFixture pf) {
							<span class="badge postponed" title="@pf.Reason">P</span>
						}
						@if (fixture is CompletedFixture completedFixture1 && fr is not null) {
							<a class="badge badge-sm" href="@completedFixture1.CardURL" target="_blank" rel="noopener">@fr.FullScore</a>
						}
						<a href="TeamSummary/@LeagueId/@fixture.HomeTeam">
							@if (fr is not null && fr.HomeWin) {
								<strong>@fixture.HomeTeam</strong>
							} else {
								<span>@fixture.HomeTeam</span>
							}
						</a>
						vs
						<a href="TeamSummary/@LeagueId/@fixture.AwayTeam">
							@if (fr is not null && fr.AwayWin) {
								<strong>@fixture.AwayTeam</strong>
							} else {
								<span>@fixture.AwayTeam</span>
							}
						</a>
					</div>
				</summary>
				@if (fixture is PostponedFixture postponed) {
					<div class="row">
						<div class="col-12 col-sm-3 col-md-3 col-lg-2">
							@fixture.Division
						</div>
						<div class="col-12 col-md-9 col-lg-10">
							@postponed.Reason
						</div>
					</div>
				}
				@if (fixture is CompletedFixture completedFixture) {
					@if (  completedFixture.HomePlayers.Count == 0
						&& completedFixture.AwayPlayers.Count == 0
						&& (completedFixture.ForHome == 10 || completedFixture.ForAway == 10))
						{
						<div class="row justify-content-end">
							<div class="col-12 col-sm-3 col-md-3 col-lg-2">
								@fixture.Division
							</div>
							<div class="col-12 col-sm-9 col-md-9 col-lg-10">
								Conceded
							</div>
						</div>
					} else {
						<div class="row justify-content-end">
							<div class="col-12 col-sm-3 col-md-3 col-lg-2">
								@fixture.Division
							</div>
							<div class="col-12 col-sm-9 col-md-9 col-lg-10">
								Home:
								@foreach (MatchPlayer player in completedFixture.HomePlayers.OrderByDescending(p => p.PoM).ThenByDescending(p => p.SetsWon)) {
									<span class="@(player.PoM ? "pom" : "")"><text>@($"{player.Name} {player.SetsWon} ")</text></span>
								}
							</div>
						</div>
						<div class="row justify-content-end">
							<div class="col-12 col-sm-9 col-md-9 col-lg-10">
								Away:
								@foreach (MatchPlayer player in completedFixture.AwayPlayers.OrderByDescending(p => p.PoM).OrderByDescending(p => p.SetsWon)) {
									<span class="@(player.PoM ? "pom" : "")">@($"{player.Name} {player.SetsWon} ")</span>
								}
							</div>
						</div>
						<div class="row justify-content-end">
							<div class="col-12 col-sm-9 col-md-9 col-lg-10">
								Doubles: @completedFixture.DoublesWinner
							</div>
						</div>
					}
				}
			</details>
		}
	</div>
}


@code {
	[Parameter]
	public int? NoOfDays { get; set; }

	[EditorRequired]
	[Parameter]
	public string LeagueId { get; set; } = "";

	private List<Fixture>? fixtures;
	private Dictionary<int, FixtureResult> fixtureResults = new();
	private League? league;

	protected override async Task OnParametersSetAsync()
	{
		NoOfDays = NoOfDays ?? 6;
		fixtures = null;
		StateHasChanged();
		league = await _tt365.GetLeague((TT365LeagueId)LeagueId);
		DateOnly today = DateOnly.FromDateTime(timeProvider.GetLocalNow().DateTime);

		fixtures = (await _tt365.GetAllFixtures((TT365LeagueId)LeagueId, league?.CurrentSeason.GetSeasonId()) ?? [])
						.Where(f => f.Date <= today && f.Date >= today.AddDays(-(int)NoOfDays))
						.Where(f => f is CompletedFixture || f is PostponedFixture)
						.OrderByDescending(f => f.Date)
						.ThenBy(f => f.Division)
						.ToList();
		foreach (Fixture fixture in fixtures) {
			if (fixture is CompletedFixture completedFixture) {
				bool homeWin = (completedFixture.ForHome > completedFixture.ForAway);
				bool awayWin = (completedFixture.ForHome < completedFixture.ForAway);
				string fullScore = $"{completedFixture.ForHome} - {completedFixture.ForAway}";
				fixtureResults.TryAdd(completedFixture.Id, new(Id: completedFixture.Id, HomeWin: homeWin, AwayWin: awayWin, FullScore: fullScore));
			}
		}
	}

	private record FixtureResult(int Id, bool HomeWin, bool AwayWin, string FullScore);

}
