@inject IWebHostEnvironment env
<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="" title="@VersionInfo">@Program.SiteName</a><span id="version-info" title="@VersionInfo"><i class="fa fas fa-info-circle"></i></span>
	</div>
</div>

<input type="checkbox" title="Navigation menu" id="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('#navbar-toggler').click()">
	<nav class="nav flex-column">
		<NavMenuItem Icon="bi-table"      Text="Reading League"    Path="LeagueSummary/Reading" />
		<NavMenuItem Icon="bi-table"      Text="Maidenhead League" Path="TTLeagues/LeagueSummary/Maidenhead" />
		<NavMenuItem Icon="bi-table"      Text="Bracknell League"  Path="LeagueSummary/BracknellAndWokingham" />
		<NavMenuItem Icon="bi-table"      Text="British League"    Path="TTLeagues/LeagueSummary/British" Match="NavLinkMatch.All"/>

		@if (env.IsDevelopment()) {
			<NavMenuItem Icon="bi-clock-fill" Text="Reading recent"    Path="Recent/Reading" />
			<NavMenuItem Icon="@emojiTT"      Text="OLOP C"            Path="TeamSummary/Reading/Our Lady Of Peace C" />
			<NavMenuItem Icon="@emojiTT"      Text="OLOP Bears"        Path="TTLeagues/TeamSummary/Maidenhead/OLOP Bears" />
			<NavMenuItem Icon="bi-calendar3"  Text="OLOP C"            Path="Calendar/Reading/Our Lady Of Peace C?command=json" />
			<NavMenuItem Icon="bi-calendar3"  Text="OLOP Bears"        Path="Calendar/Maidenhead/OLOP Bears?command=json" />
			@* <NavMenuItem Icon="bi-table"  Text="SBL 2023/24"       Path="TTLeagues/LeagueSummary/British/2131" Match="NavLinkMatch.All" /> *@
			@* <NavMenuItem Icon="@emojiTT"  Text="TT Daily"          Path="TTLeagues/TeamSummary/British/Table Tennis Daily/47042" Match="NavLinkMatch.All" /> *@
		}
	</nav>
</div>

@code {
	private string VersionInfo => $"{Program.Name}: {Program.ProductVersion}";

	private const string emojiTT = "🏓";
}
