@page "/TTLeagues/TeamSummary/{LeagueId}/{TeamName}"
@inject TTLeaguesReader _ttleagues
@attribute [StreamRendering(true)]

<PageTitle>@TeamName - @LeagueId</PageTitle>

@if (fixtures is null || fixtures.Count == 0) {
	<h1>Loading ... @TeamName ...</h1>
} else {
	<h1>@TeamName</h1>
	<div id="fixtures">
		@foreach (Match match in fixtures) {
			FixtureResult? fr;
			fixtureResults.TryGetValue(match.Id, out fr);
			<div class="card" data-result='@fr?.Result'>
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4 col-lg-3">
						@if (match.Date is null) {
							<span class="postponed badge" title="Postponed">P</span>
						}
						<time datetime="@match.Time?.ToUKTime().ToString("yyyy-MM-dd HH:mm")">@match.Time?.ToUKTime().ToString("ddd dd MMM HH:mm")</time>
					</div>
					<div class="col-12 col-sm-8 col-md-8 col-lg-9">
						@if (match.HasResults) {
							<a class="badge badge-sm" href="@CalculateMatchHref(match)" target="_blank" rel="noopener">@fr?.FullScore</a>
						}
						<a href="TTLeagues/TeamSummary/@LeagueId/@(match.Home.Name.Equals(@TeamName) ? match.Away.Name : match.Home.Name)">
							<strong>@(match.Home.Name.Equals(@TeamName) ? match.Away.Name : match.Home.Name)</strong>
						</a>
						<span> @@ @match.Venue</span>
					</div>
				</div>
@*
				@if (match.Date is null) {
					<div class="row justify-content-end">
						<div class="col-12 col-md-8 col-lg-9">
							@postponed.Reason
						</div>
					</div>
				}
 *@
				@if (match.HasResults) {
@*
					@if (completedFixture.Other is not null) {
						<div class="row justify-content-end">
							<div class="col-12 col-md-8 col-lg-9">
								@completedFixture.Other
							</div>
						</div>
					}
*@
					@if (match.Home.TeamId.Equals(TeamId)) {
						<div class="row justify-content-end">
							<div class="col-12 col-md-8 col-lg-9">
								@foreach (MatchPlayer player in match.HomeScores.OrderByDescending(p => p.Score)) {
									<span class="@(player.UserId == match.Potm?.Id ? "pom" : "")"><text><a href="TTLeagues/PlayerSummary/@LeagueId/@player.Name.Replace(" ", "_")/@player.UserId">@($"{player.Name}")</a> @($" {player.Score} ")</text></span>
								}
							</div>
						</div>
						<div class="row justify-content-end">
							<div class="col-12 col-md-8 col-lg-9">
								@foreach (MatchPlayer player in match.AwayScores.OrderByDescending(p => p.Score)) {
									<span class="@(player.UserId == match.Potm?.Id ? "pom" : "")"><a href="TTLeagues/PlayerSummary/@LeagueId/@player.Name.Replace(" ", "_")/@player.UserId">@($"{player.Name}")</a> @($" {player.Score} ")</span>
								}
							</div>
						</div>
					} else {
						<div class="row justify-content-end">
							<div class="col-12 col-md-8 col-lg-9">
								@foreach (MatchPlayer player in match.AwayScores.OrderByDescending(p => p.Score)) {
									<span class="@(player.UserId == match.Potm?.Id ? "pom" : "")"><a href="TTLeagues/PlayerSummary/@LeagueId/@player.Name.Replace(" ", "_")/@player.UserId">@($"{player.Name}")</a> @($" {player.Score} ")</span>
								}
							</div>
						</div>
						<div class="row justify-content-end">
							<div class="col-12 col-md-8 col-lg-9">
								@foreach (MatchPlayer player in match.HomeScores.OrderByDescending(p => p.Score)) {
									<span class="@(player.UserId == match.Potm?.Id ? "pom" : "")"><text><a href="TTLeagues/PlayerSummary/@LeagueId/@player.Name.Replace(" ", "_")/@player.UserId">@($"{player.Name}")</a> @($" {player.Score} ")</text></span>
								}
							</div>
						</div>
					}
@* 
					<div class="row justify-content-end">
						<div class="col-12 col-sm-8 col-md-8 col-lg-9">
							Doubles: @match.DoublesWinner
						</div>
					</div>
 *@
				} else {
 					<div class="row justify-content-end">
						<div class="col-12 col-md-8 col-lg-9">
							@if (match.Home.TeamId.Equals(TeamId)) {
								<text>@(teamPlayersList.ContainsKey(match.Away.TeamId ?? -1) ? @teamPlayersList[match.Away.TeamId ?? -1] : "Loading ...")</text>
							} else {
								<text>@(teamPlayersList.ContainsKey(match.Home.TeamId ?? -1) ? @teamPlayersList[match.Home.TeamId ?? -1] : "Loading ...")</text>
							}
						</div>
					</div>
				}
			</div>
		}
	</div>
	<h2>Team Stats</h2>
	<div id="teamstats" class="card">
		<div>
			<div>Captain: <span>@team?.Captain?.Name</span></div>
			<div>Caption: <span>@teamStats?.Competition.Value > @teamStats?.Division.Value</span></div>
		</div>
		<div id="players">
			<h3>Players</h3>
			<table class="table table-bordered table-sm">
				<thead>
					<tr>
						<th>Name</th>
						<th>Played</th>
						<th>Win %</th>
						<th>Ranking</th>
						<th class="">PoM</th>
						<th>Form</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var player in teamStats!.Players.OrderByDescending(p => p.Average).ThenByDescending(p => p.Played)) {
						<tr>
							@{string rankingPosition = rankings.GetValueOrDefault(player.Id)?.Position.ToString() ?? "";}
							<td><a href="TTLeagues/PlayerSummary/@LeagueId/@player.Name.Replace(" ", "_")/@player.Id">@player.Name</a></td>
							<td><span>@(new string('0', 2 - player.Played.ToString().Length))</span>@player.Played</td>
							<td><span>@(new string('0', 3 - Math.Round(player.Average, 0).ToString("##0").Length))</span>@($"{Math.Round(player.Average, 0):##0}")%</td>
							<td><span>@(new string('0', 3 - rankingPosition.Length))</span>@rankingPosition</td>
							<td><span>@(new string('0', 2 - (player.Potm).ToString().Length))</span>@(player.Potm)</td>
							<td>@CalculateForm(player.Matches)</td>
						</tr>
					}
					@foreach (var teamMember in teamMembers) {
						@if (!teamStats!.Players.Any(p => p.Id == teamMember.MemberId)) {
							<tr>
								@{string rankingPosition = rankings.GetValueOrDefault(teamMember.MemberId)?.Position.ToString() ?? "";}
								<td>@teamMember.Name</td>
								<td><span>@(new string('0', 2 - "0".Length))</span>0</td>
								<td><span>@(new string('0', 3 - "n/a".Length))</span>n/a</td>
								<td><span>@(new string('0', 3 - rankingPosition.Length))</span>@rankingPosition</td>
								<td><span>@(new string('0', 2 - "0".Length))</span>0</td>
								<td></td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
		<div id="results">
			<h3>Results</h3>
			<table class="table table-bordered table-sm">
				<thead>
					<tr>
						<th>Opposition</th>
						<th>Home Or Away</th>
						<th>Date</th>
						<th>Score</th>
						<th>Pts</th>
						<th>Player Of The Match</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var result in teamStats!.Results) {
						<tr data-result='@CalculateMatchResult(result.For, result.Against)'>
							<td><a href="TTLeagues/TeamSummary/@LeagueId/@result.Versus.Value">@result.Versus.Value</a></td>
							<td>@(result.Home ? "Home" : "Away")</td>
							<td>@result.Date.ToUKTime().ToString("dd MMM yyyy")</td>
							<td><a href="@result.MatchId" target="_blank" rel="noopener"><span>@(new string('0', 2 - $"{result.For}".Length))</span>@result.For-@result.Against<span>@(new string('0', 2 - $"{result.Against}".Length))</span></a></td>
							<td><span>@(new string('0', 2 - result.For.ToString().Length))</span>@result.For</td>
							<td>@result.Potm</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
}


@code {
	[EditorRequired]
	[Parameter]
	public string TeamName { get; set; } = "";

	[EditorRequired]
	[Parameter]
	public string LeagueId { get; set; } = "";

	[Parameter]
	public int TeamId { get; set; }

	private record FixtureResult(int Id, string Result, string FullScore);

	private League? league;
	private Team? team;
	private TeamStats? teamStats;
	private List<TeamMember> teamMembers = [];
	private List<Match> fixtures = [];
	private Dictionary<string, Ranking> rankings = [];
	private Dictionary<int, FixtureResult> fixtureResults = [];
	private Dictionary<int, string> teamPlayersList = [];

	protected override async Task OnParametersSetAsync()
	{
		TeamName = HttpUtility.HtmlDecode(TeamName).Replace("_", " ");

		fixtures = [];
		fixtureResults = [];
		StateHasChanged();
		league = await _ttleagues.GetLeague(LeagueId);
		int competitionId = league?.CurrentCompetitions.First().Id ?? -1;
		TeamId = await _ttleagues.GetId(TeamName, LookupType.Team, LeagueId, competitionId) ?? -1;

		team = await _ttleagues.GetTeam(TeamId, LeagueId);
		teamStats = await _ttleagues.GetTeamStats(TeamId, LeagueId, competitionId);
		teamMembers = await _ttleagues.GetTeamMembers(TeamId, LeagueId);
		rankings = (await _ttleagues.GetRankings(LeagueId)).ToDictionary(r => r.UserId);

		Fixtures? allFixtures = await _ttleagues.GetAllFixtures(LeagueId, competitionId);
		Fixtures? allResults = await _ttleagues.GetAllResults(LeagueId, competitionId);

		fixtures = allFixtures?.Matches
			.Where(f => string.Equals(f.Home.Name, TeamName, StringComparison.CurrentCultureIgnoreCase) || string.Equals(f.Away.Name, TeamName, StringComparison.CurrentCultureIgnoreCase))
			.Where(f => !(string.Equals(f.Home.Name, "Free", StringComparison.CurrentCultureIgnoreCase) || string.Equals(f.Away.Name, "Free", StringComparison.CurrentCultureIgnoreCase)))
			.OrderBy(m => m.Time)
			.ToList() ?? [];

		foreach (Match match in fixtures) {
			if (match.HasResults) {
				string result;
				string fullScore;
				if (match.Home.Name.Equals(TeamName, StringComparison.CurrentCultureIgnoreCase)) {
					result = CalculateMatchResult(match.Home.Score ?? 0, match.Away.Score ?? 0);
					fullScore = $"{match.Home.Score} - {match.Away.Score}";
				} else {
					result = CalculateMatchResult(match.Away.Score ?? 0, match.Home.Score ?? 0);
					fullScore = $"{match.Away.Score} - {match.Home.Score}";
				}
				fixtureResults.TryAdd(match.Id, new(match.Id, result, fullScore));
			}
		}

		StateHasChanged();

		List<int> teamList = fixtures
			.Select(t => t.Home.TeamId ?? 0)
			.Union(fixtures.Select(t => t.Away.TeamId ?? 0))
			.Where(id => id != TeamId)
			.Distinct()
			.ToList();
		List<Task<string>> tasks = new();
		foreach (int id in teamList) {
			tasks.Add(GetTeamPlayers(id, competitionId));			
		}
		await Task.WhenAll(tasks);

		StateHasChanged();
	}

	protected async Task<string> GetTeamPlayers(int teamId, int competitionId)
	{
		string playersString;

		if (teamPlayersList.ContainsKey(teamId)) {
			playersString = teamPlayersList[teamId];
		} else {
			List<TeamStatsPlayer>? players = (await _ttleagues.GetTeamStats(teamId, LeagueId, competitionId))?.Players.ToList();
			if (players is null) {
				return "";
			}
			var playersList = players
				.OrderByDescending(p => p.Average)
				.Select(p => $"{p.Name} ({Math.Round(p.Average, 0)}%)");
			playersString = String.Join(", ", playersList);
			teamPlayersList.TryAdd(teamId, playersString);
		}
		return playersString;
	}

	string CalculateForm(IReadOnlyList<TeamStatsMatch> matches)
	{
		return String.Join(",", matches.Take(6).Select(m => m.Form.ToString()));
	}

	string CalculateMatchHref(Match match)
	{
		return $"https://{LeagueId}.ttleagues.com/league/{match.CompetitionId}/division/{match.DivisionId}/match/{match.Id}";
	}

	string CalculateMatchResult(int scoreFor, int scoreAgainst)
	{
		return (scoreFor - scoreAgainst) switch
		{
			> 0 => "win",
			< 0 => "loss",
			  0 => "draw",
		};
	}
}
